.side-bar {
  background-color: clear;
  min-width: 200px;
}

body {
  background-image: url("../img/pic2cups.jpg") ; 
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
}

p {
  color: rgb(255, 255, 255);
}

span {
  color: rgb(17, 15, 15);
  font-size: larger;
}

h1 {
  text-align: center;
  font-family: 'Prata', serif;
  color: rgb(250, 250, 253);
  letter-spacing: 1rem;
}

h4 {
  font-family: 'Poppins', serif;
  font-size: 28px;
  color: rgb(250, 250, 253);
  text-align: center;
  letter-spacing: 5px;
}

h5 {
  font-family: 'Poppins', serif;
  font-size: 22px;
  color: rgb(17, 15, 15);
  text-align: center;
}

