.side-bar {
  background-color: clear;
  min-width: 200px;
}

body {
  background-image: url("../img/pic3.jpg") ; 
  background-attachment: fixed;
  background-size: auto;
  background-color: black;
}

p {
  color: honeydew;
}

span {
  color: antiquewhite;
  font-size: larger;
}

h1 {
  font-family: 'Prata', serif;
  color: blanchedalmond;
}

h4 {
  font-family: 'Poppins', serif;
  color: honeydew;
  text-align: center;
}


