@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

html, body, #root {
  height:100%;
}

body {
  color:bisque;
  font-size: larger;
  background-image: url("../img/pic2cups.jpg") ; 
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
  overflow-y: scroll;
  overflow-x: hidden;
}

h1 {
  text-align: center;
  font-family: "Great Vibes", serif;
  color: bisque;
  letter-spacing: 1rem;

}

.btn {
  color: bisque;
}

h5, h4, p, button, span {
  font-family: Baskervville;
}

.main-background {
  height: 100%;
  background-color: rgba(71, 71, 71, 0.514);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.103), 0 2px 10px 0 rgba(0, 0, 0, 0.685);
}

.light-background {
  background-color: rgba(71, 71, 71, 0.8);
}

.navbar {
  background-color: rgba(31, 30, 30, 0.98);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.192), 0 2px 10px 0 rgba(0, 0, 0, 0.137);
}

.sidebar {
  color: bisque;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 122px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.507), 0 2px 10px 0 rgba(0, 0, 0, 0.685);
  width: 240px;
  z-index: 600;
  background-color: rgba(252, 252, 252, 0.308);
}

.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

/* Main */
@media (min-width: 991.98px) {
  .navbar {
    margin-left: 240px;
  }
  
  .main-background {
    margin-left: 250px;
    padding-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
    background-color: whitesmoke;
  }

  .navbar {
    background-color: rgba(71, 71, 71, 0.95);
    margin-left: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.192), 0 2px 10px 0 rgba(0, 0, 0, 0.137);
  }

  .main-background {
    margin-right: -10px;
  }
}
