@import url("https://fonts.googleapis.com/css2?family=Baskervville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

html,
body,
#root {
	height: 100%;
	width: 100%;
}

body {
	color: bisque;
	font-size: larger;
	background-image: url("../../assets/pic2cups.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.2);
	overflow-y: scroll;
	overflow-x: hidden;
	background-blend-mode: darken;
}

h1 {
	text-align: center;
	font-family: "Great Vibes", serif;
	color: bisque;
	letter-spacing: 1rem;
}

.btn,
h5,
span {
	color: bisque;
}

h5,
h4,
p,
button,
a {
	font-family: "Times New Roman", Times, serif;
}

.main-background {
	height: 100%;
	margin-top: 6rem;
	background-color: rgba(71, 71, 71, 0.336);
}

.light-background {
	background-color: rgba(71, 71, 71, 0.8);
}

.navbar {
	background-color: rgba(31, 30, 30, 0.98);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.192),
		0 2px 10px 0 rgba(0, 0, 0, 0.137);
}

.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	margin: 83px 0 0;
	/* Height of navbar */
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.507),
		0 2px 10px 0 rgba(0, 0, 0, 0.685);
	width: 240px;
	z-index: 600;
	background-color: rgba(31, 30, 30, 0.8);
}

.sidebar .active {
	border-radius: 5px;
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
	position: relative;
	top: 0;
	height: calc(100vh - 48px);
	padding-top: 0.5rem;
	overflow-x: hidden;
	overflow-y: auto;
	/* Scrollable contents if viewport is shorter than content. */
}

.carousel-control {
	top: 50%;
	margin: 50px;
}

.carousel-control-prev {
	margin-left: -6%;
}

.carousel-control-next {
	margin-right: -6%;
}

/* Main */
@media (min-width: 991.98px) {
	.main-background {
		margin-left: 15rem;
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

@media (max-width: 991.98px) {
	.sidebar {
		width: 100%;
		background-color: rgba(31, 28, 28, 0.98);
	}

	.navbar {
		width: 100% !important;
		background-color: rgba(31, 30, 30, 0.98);
		margin-left: 0px;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.192),
			0 2px 10px 0 rgba(0, 0, 0, 0.137);
	}

	.main-background {
		padding-left: 2rem;
		padding-right: 1rem;
	}

	.carousel-control-next {
		margin-right: 0%;
	}
}
